<div class="card col-10 p-3 mx-auto">
    <div class="card-body p-0">
        <h3 class="card-title mb-3">
            <%= foods[0].title %>
        </h3>
        <img src="/img/<%= foods[0].imgSrc %>" alt="" class="img-fluid">
        <p class="card-text mt-3 text-justify">
            <%= foods[0].description %>
        </p>
        <p class="card-text text-end">
            <b>
                <%= foods[0].price %>
                <%= foods[0].moneyUnit %>
            </b>
            </p>

    </div>
</div>